.fa-pencil {
    color: black;
}

.fa-trash-o {
    color: red;
}

.fa {
    padding: 5px;
}

.fa:hover {
    cursor: pointer;
}

.detail-header {
    display: flex;
    justify-content: space-between;
}

.spacer{
    flex-grow: 2;
}


.flex {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.flex h3 {
    margin: 0;
    font-size: 2rem;
}

p {
    margin: 0;
}

.author {
    margin-bottom: 10px;
    color: grey;
}

.pic{
    width: 200px
}

img {
    width: 100%;
}

@media (max-width: 600px ) {
    .flex {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}