/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lora:wght@600&display=swap');

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1{
    font-family: "Lora", Georgia, serif;
}

.wrapper {
    display: block;
    margin: auto;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 80%;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.form-group{
display: flex;
flex-direction: column;
padding: 10px 5px;
}

.form-control{
    border: none;
    padding: 5px;
    border: 1px solid lightgrey;
}

form button {
    all: unset;   
    background-color: green;
    padding: 10px 25px;
    color: white;
    display: block;
    margin: 10px auto;
}

form button:hover {
    cursor: pointer;
    
}